.project {
  padding: 7.5em 0 5.5em 0;
  text-align: center;
  @include xl {
    padding: 6em 3em 4em 3em;
  }
  @include xs {
    padding: 3em 1em 1em 1em;
  }
  @include sm {
    padding: 4em 1.5em 2em 1.5em;
  }
  @include md {
    padding: 4em 2em 2em 2em;
  }
  .inner {
    width: 64em;
    max-width: 100%;
    margin: 0 auto;

    @include xl {
      width: 100%;
    }

    .spotlight:nth-of-type(2n) {
      -moz-flex-direction: row;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      .images {
        margin: 0 2em 0 0;
      }
      .content {
        margin: 0 0 0 2em;
      }
    }

    .spotlight {
      display: -moz-flex;
      display: -webkit-flex;
      display: -ms-flex;
      display: flex;
      -moz-flex-direction: row-reverse;
      -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse;
      -moz-align-items: center;
      -webkit-align-items: center;
      -ms-align-items: center;
      align-items: center;
      text-align: left;
      margin: 4em 0;

      @media screen and (max-width: 736px) {
        margin-top: 0;
      }

      @media screen and (max-width: 980px) {
        display: block;
      }
      .images {
        margin: 0 0 0 2em;
        width: 50%;
        @media screen and (max-width: 980px) {
          margin: 0 0 3em 0 !important;
          width: 100%;
        }
        img {
          border-radius: 0.5rem;
          display: block;
          width: 100%;
        }
      }
      .content {
        margin: 0 2em 0 0;
        width: 50%;

        @media screen and (max-width: 980px) {
          margin: 0 !important;
          text-align: center;
          width: 100%;
        }

        @media screen and (max-width: 1280px) {
          margin: 0 1.5em 0 0;
        }
        header h3 {
          line-height: 1.5;
          margin: 0 0 1.75rem 0;
          letter-spacing: 0.05em;

          @media screen and (max-width: 736px) {
            h3 {
              font-size: 1.25em;
              margin: 0 0 1.25rem 0;
            }
          }
        }
        p {
          margin: 0 0 2em 0;
        }
        footer {
          margin: 0;
        }
      }
      .action {
        display: -moz-flex;
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        cursor: default;
        list-style: none;
        margin-left: -1em;
        padding-left: 0;

        @media screen and (max-width: 980px) {
          -moz-justify-content: center;
          -webkit-justify-content: center;
          -ms-justify-content: center;
          justify-content: center;
          width: 100%;
          margin-left: 0;
        }

        li {
          padding: 0 0 0 1em;
          vertical-align: middle;
          // a:hover {
          //   background-color: red;
          // }
          // a .project-button {
          //   background-color: red;
          // }
          .project-button {
            border-style: solid;
            border-width: 1px !important;
            border-color: inherit !important;
            color: inherit !important;
            cursor: pointer;
            display: inline-block;
            font-weight: 500;
            font-size: 0.7em;
            height: 4.2857142857em;
            line-height: 4.2857142857em;
            border-radius: 4.2857142857em;
            padding: 0 2.8571428571em;
            text-align: center;
            text-decoration: none;
            white-space: nowrap;
            text-transform: uppercase;
            letter-spacing: 0.2em;
          }
        }
      }
    }
  }
}

.images {
  border-radius: 0.5rem;
  border: 0;
  display: inline-block;
}
